.dropDownButtonWrapper {
  position: relative;
  overflow: hidden;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  &:after {
    background: var(--colorGreen1000);
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }

  &:hover {
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.labelContainer {
  display: flex;
  padding: 2px 24px;
}

.label {
  color: var(--colorBlack900);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}
