.calendarWrapper {
  width: 100%;
  background: var(--colorGrayBlue100);
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 40px 0;
  display: flex;
  padding: 32px 44px;
  flex-direction: column;

  @media screen and (max-width:  767.98px) {
    padding: 32px 16px;
  }
}

.controls {
  margin: 0 0 18px 0;
}

.input {
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  flex-direction: row-reverse;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  line-height: 24px;
  margin: 0 0 0 12px;
  padding: 2px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
  align-items:center;
  min-height: 160px;
  overflow: scroll;
  padding: 12px 0;
}

.flexBlock {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin: 18px 0 0 0;
  }

  @media screen and (max-width:  767.98px) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    &.withoutMobile{
      flex-direction: row;
      align-items: center;
    }
  }
}

.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  min-width: 86px;
  color: var(--colorBlack900);
}

.daySelector {
  margin: 0 0 0 12px;
}

.legendBlock {
  display: flex;
  align-items: center;
  margin: 18px 0 0 0;

  @media screen and (max-width: 767.98px) {
    display: grid;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
  }
}

.legend {
  display: flex;
  align-items: center;
  margin: 0 64px 0 0;
  width: 100%;

  span {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--colorBlack900);
    margin-left: 12px;
  }

  @media screen and (max-width: 768px) {
    &:not(:first-child) {
      margin: 12px 0 0 0;
    }
  }
}

.round {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--colorBlack400);

  &.green {
    background: var(--colorGreen100);
  }

  &.blue {
    background: var(--colorBlue100);
  }

  &.red {
    background: var(--colorPurple100);
  }

  &.gradient {
    background: var(--defaultGradient);
  }

  &.white {
    background: white;
  }
}

.controlButton {
  &:nth-child(2) {
    margin: 0 12px;
  }

  @media screen and (max-width: 767.98px) {
    width: 100%;
    &:nth-child(2) {
      margin: 12px 0;
    }
  }
}

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid var(--colorPurple1000);
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate360 .75s infinite linear;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
